.Rproj.user/
.Rhistory
.RData
.Ruserdata

analysis/*.html
analysis/*_files/

outputs/figures/*
!outputs/figures/.gitkeep
outputs/tables/*
!outputs/tables/.gitkeep
outputs/*.rds

data/processed/*
!data/processed/.gitkeep

*.Rout
*.log
